section
  padding: 0 20px

.info-media
  max-width: 120px

@media (min-width: 768px)
  .info-media
    max-width: 200px

.card
  width: fit-content
  margin: 15px auto

  &:hover
    transition: all .3s ease
    background: #fefefe
    color: #4aa1a9
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2)

$btn-shadow: 0 1px 5px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19)

.social-btn
  display: flex
  justify-content: center
  height: 40px
  color: #fff
  padding: 0 10px
  border-radius: 8px
  box-shadow: none
  font
    display: inline-block
    line-height: 40px
    padding-left: 8px 
  i
    line-height: 40px !important
    font-size: 1.5rem
  &.messenger
    position: fixed
    bottom: 15px
    right: 15px
    background: #3283ff
    border: 1px solid #4f89e2
    &:hover
      color: #3283ff
      border-color: #3283ff
  &.line
    background: #39b900
    border: 1px solid #39b900
    &:hover
      color: #39b900
      border-color: #39b900
  &.facebook
    background: #3b5998
    border: 1px solid #3b5998
    &:hover
      color: #3b5998
      border-color: #3b5998
  &.info
    background: #4aa0a7
    border: 1px solid #4aa0a7
    &:hover
      color: #4aa0a7
      border-color: #4aa0a7

.social-btn:hover
  background: #fff
  box-shadow: none
  transition: all .3s ease

#gmap_canvas
  width: 100%
  height: 300px

.contact-list
  background: #fefefe
  margin-top: 15px
  > button
    width: 100%
    margin: 10px 0
  h1,h2,h3,h4,h5,p
    margin: 0

.messenger-wrapper
  position: fixed
  bottom: 15px
  right: 15px
position
@media (min-width: 768px)
  .social-btn
    &.messenger
      bottom: 30px
      right: 30px
  .contact-list
    margin-top: 0
  .messenger-wrapper
    bottom: 30px
    right: 30px
  #gmap_canvas
    width: 100%
    height: 500px

@media (min-width: 1200px)
  .social-btn
    &.messenger
      bottom: 30px
      right: 50px
    .messenger-wrapper
      bottom: 30px
      right: 50px
.card img
  border-radius: 8px
.card-section:nth-child(2)
  padding-top: 0 !important
