<div class="grid-container error-view">
  <div class="grid-x text-center small-up-1">
    <div class="cell">
      <h1>404</h1>
      <h2>ไม่พบหน้าที่คุณค้นหา</h2>
      <a class="font-large" href="/index">กลับหน้าแรก</a>
    </div>
  </div>
</div>
