<footer>
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-4">
      <div class="cell">
        <img src="/img/logo-large.png" alt="">

      </div>
      <div class="cell text-center">
        <i class="fas fa-map-marker-alt"></i>
        <p>
          ชั้น 1 เอสพลานาด<br class="show-for-small-only"> งามวงศ์วาน-แคราย<br>
          เปิดทำการทุกวัน<br class="show-for-small-only"> เวลา 10.30 - 20.30น.<br>
        </p>

      </div>
      <div class="cell text-center">
        <i class="fas fa-phone"></i>
        <p>
          02-591-5565<br>
          094-965-2642
        </p>
      </div>
      <div class="cell text-center">
        <a href="https://www.facebook.com/smiledelight.dc"><i class="fab fa-facebook"></i><font class="show-for-medium">Facebook</font></a>
        <a href="https://line.me/R/ti/p/%40ovo7080y"><i class="fab fa-line"></i><font class="show-for-medium">Line</font></a>
      </div>
    </div>
    <div class="text-center legal">
      <p>Copyright (c) 2018 Copyright Holder All Rights Reserved.</p>
    </div>
  </div>
</footer>
