<footer>
  <div class="grid-container">
    <div class="grid-x grid-padding-x small-up-1 medium-up-3">
      <div class="cell">
        <h3>Contact</h3><hr>
        <p><i class="fas fa-map-marker-alt"></i>address here</p>
        <p><i class="fas fa-phone"></i>phone here</p>
      </div>
      <div class="cell">
        <h3>Contact</h3><hr>
      </div>
      <div class="cell">
        <h3>Social</h3><hr>
        <a href="#"><i class="fab fa-facebook"></i>Facebook</a>
      </div>
    </div>
    <div class="text-center legal">
      <p>Copyright (c) 2018 Copyright Holder All Rights Reserved.</p>
    </div>
  </div>
</footer>
