<nav>
  <div class="nav-wrapper">
    <div class="left">
      <a href="#" class="logo">
        <img src="/img/logo.svg" alt="">
      </a>
      <ul>
        <li><a href="#">หน้าแรก</a></li>
        <li class="dropdown">
          <a @click.prevent="toggleDropdown(1)">สินค้า</a>
          <transition name="fade">
            <ul class="dropdown-content" v-show="dropdown == 1">
              <li><a href="#">dropdown</a></li>
              <li><a href="#">dropdown</a></li>
            </ul>
          </transition>
        </li>
        <li><a href="#">เกี่ยวกับเรา</a></li>
        <li><a href="#">ติดต่อเรา</a></li>
      </ul>
    </div>
    <div class="right">
      <button class="menu fas fa-bars" :class="{'active' : menuToggle}" @click.prevent="menuToggle = !menuToggle"></button>
    </div>
  </div>
</nav>
<transition name="menu">
  <div class="mobile-menu" v-show="menuToggle">
    <ul>
      <li><a href="#">หน้าแรก</a></li>
      <li class="dropdown"><a :class="{'active' : dropdown == 1}" @click.prevent="toggleDropdown(1)">สินค้า</a></li>
      <transition name="height" mode="out-in">
        <div class="mobile-dropdown" v-show="dropdown == 1">
          <li><a href="#">dropdown</a></li>
          <li><a href="#">dropdown</a></li>
        </div>
      </transition>
      <li><a href="#">หน้าแรก</a></li>
      <li><a href="#">หน้าแรก</a></li>
    </ul>
  </div>
</transition>
