<nav>
  <div class="nav-wrapper">
    <div class="left">
      <a href="/" class="logo">
        <img src="/img/logo/logo-large.png" alt="">
      </a>
      <ul>
        <li><a href="/">หน้าแรก</a></li>
        <li class="dropdown" v-on-clickaway="closeDropdown">
          <a @click.prevent="dropdown = !dropdown">ค่าบริการ</a>
          <transition name="fade">
            <ul class="dropdown-content" v-show="dropdown">
              <li v-for="(service, index) in services" v-show="index !== 4">
                <a :href="'/pricing/' + service.link">
                  {{ service.title }}
                  <font v-show="index == 3">{{ services[4].title }}</font>
                </a>
              </li>
            </ul>
          </transition>
        </li>
        <li><a href="/dentists">ทีมทันตแพทย์</a></li>
        <li><a href="/contact">ติดต่อเรา</a></li>
      </ul>
    </div>
    <div class="right">
      <button class="menu fas fa-bars" :class="{'active' : menuToggle}" @click.prevent="menuToggle = !menuToggle"></button>
    </div>
  </div>
</nav>
<transition name="menu">
  <div class="mobile-menu" v-show="menuToggle">
    <ul>
      <li><a href="/">หน้าแรก</a></li>
      <li class="dropdown">
        <a :class="{'active' : dropdownMobile}" @click.prevent="dropdownMobile = !dropdownMobile">ค่าบริการ</a>
      </li>
      <transition>
        <div class="mobile-dropdown" v-show="dropdownMobile">
          <li v-for="(service, index) in services" v-show="index !== 4">
            <a :href="'/pricing/' + service.link">
              {{ service.title }}
              <font v-show="index == 3">{{ services[4].title }}</font>
            </a>
          </li>
        </div>
      </transition>
      <li><a href="/dentists">ทีมทันตแพทย์</a></li>
      <li><a href="/contact">ติดต่อเรา</a></li>
    </ul>
  </div>
</transition>
