<div class="grid-container">

    <div class="grid-x grid-padding-x">
      <div class="slick-banner cell small-12 large-9">
        <vue-slick :auto="true" :fading="false" :banner-qty="4"></vue-slick>
      </div>
      <div class="cell small-12 large-3 small-order-1">
        <div class="contact-list grid-x grid-margin-x">
          <button class="cell small-12 medium-3 large-12 social-btn line" onclick="document.location.href = 'https://line.me/R/ti/p/%40ovo7080y'">
            <i class="fab fa-line"></i>
            <font>เพิ่มเพื่อน</font>
          </button>
          <button class="cell small-12 medium-3 large-12 social-btn facebook" onclick="document.location.href = 'https://www.facebook.com/smiledelight.dc'">
            <i class="fab fa-facebook"></i>
            <font>หน้าเพจ</font>
          </button>
          <button class="cell small-12 medium-3 large-12 social-btn orange">
            <i class="fas fa-phone"></i>
            <font>094-965-2642</font>
          </button>
          <button class="cell small-12 medium-3 large-12 social-btn info" onclick="document.location.href = '/contact'">
            <i class="fas fa-map-marker-alt"></i>
            <font>แผนที่</font>
          </button>
        </div>
      </div>
    </div>

  <section style="padding-top:25px">
    <div class="text-center">
      <h1 style="color:#8e9296">Smile Delight<br class="show-for-small-only"> Dental Clinic</h1>
    </div>
    <div class="grid-x grid-padding-x medium-up-3 small-up-1">
      <div class="cell text-center" data-aos="fade-in">
        <img class="info-media" src="/img/coin.jpg" alt="coin.jpg">
        <h3 class="header">ประกันสังคม</h3>
        <p class="lead">สามารถใช้สิทธิประกันสังคม<br>แบบไม่ต้องสำรองจ่ายได้</p>
      </div>
      <div class="cell text-center" data-aos="fade-in">
        <img class="info-media" src="/img/dentist.jpg" alt="dentist.jpg">
        <h3 class="header">ทันตแพย์เฉพาะทาง</h3>
        <p class="lead">ให้บริการรักษากับทีมทันตแพทย์<br class="show-for-medium">เฉพาะทาง<br class="show-for-small-only">หลากหลายสาขา</p>
      </div>
      <div class="cell text-center" data-aos="fade-in">
        <img class="info-media" src="/img/tooth.jpg" alt="tooth.jpg">
        <h3 class="header">ปรึกษาฟรี</h3>
        <p class="lead">เราพร้อมให้คำแนะนำ<br>ก่อนที่จะตัดสินใจใช้บริการ</p>
      </div>
    </div>
  </section>

  <section style="padding-top:25px">
    <h2 class="header text-center" data-aos="fade-in">บริการของเรา</h2>
    <div class="grid-x grid-padding-x medium-up-3 small-up-1 align-center">
      <div class="cell" v-for="service in services" data-aos="fade-in">
        <a :href="'/pricing/' + service.link">
          <div class="card">
            <div class="card-section">
              <img :src="'/img/service/' + service.img">
            </div>
            <div class="card-section text-center">
              <h4>{{ service.title }}</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>

  <section>
    <div class="grid-x grid-padding-x grid-padding-y medium-up-4 align-center-middle">
      <div class="cell" v-for="(company, index) in 4">
        <img :src="'img/company/company' + (index + 1 )+ '.png'" alt="" style="margin:15px 0">
      </div>
    </div>
  </section>
</div>
