<div class="grid-container">
  <div class="slick-banner">
    <vue-slick :auto="true" :fading="false" :banner-qty="2"></vue-slick>
  </div>
  <section>
    <div class="text-center">
      <h1 class="header">Smile Delight Clinic</h1>
    </div>
    <div class="grid-x grid-padding-x medium-up-3 small-up-1">
      <div class="cell text-center">
        <img class="info-media" src="/img/coin.jpg" alt="coin.jpg">
        <h3 class="header">ประกันสังคม</h3>
        <p class="lead">สามารถใช้สิทธิประกันสังคม<br>แบบไม่ต้องสำรองจ่ายได้</p>
      </div>
      <div class="cell text-center">
        <img class="info-media" src="/img/dentist.jpg" alt="dentist.jpg">
        <h3 class="header">ทันตแพย์เฉพาะทาง</h3>
        <p class="lead">จัดฟันกับทันตแพทย์<br>ผู้เชี่ยวชาญด้านการจัดฟันโดยเฉพาะ</p>
      </div>
      <div class="cell text-center">
        <img class="info-media" src="/img/tooth.jpg" alt="tooth.jpg">
        <h3 class="header">ปรึกษาฟรี</h3>
        <p class="lead">เราพร้อมให้คำแนะนำ<br>ก่อนที่จะตัดสินใจใช้บริการ</p>
      </div>
    </div>
  </section>

  <section style="padding-top:25px">
    <h2 class="header text-center">บริการของเรา</h2>
    <div class="grid-x grid-padding-x medium-up-3 small-up-1">
      <div class="cell" v-for="service in services">
        <a :href="'/pricing/' + service.link">
          <div class="card">
            <div class="card-section">
              <img :src="'/img/service/' + service.img">
            </div>
            <div class="card-section text-center">
              <h4>{{ service.title }}</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
</div>
