<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="Smile Delight Dental Clinic ทำฟัน จัดฟัน รากฟันเทียม ฟอกสีฟัน ฟันปลอม ตั้งอยู่ในห้างเอสพลานาด แคราย ชั้นที่ 1. เปิดให้บริการทุกวัน เวลา 10.30 – 20.30 น. ติดต่อทำนัด โทร. 02-591-5565, 094-965-2642">
  <title>Smile Delight Dental Clinic – คลินิกทันตกรรมสไมล์ดีไลท์</title>

  <link rel="shortcut icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png" />
  <link rel="shortcut icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png" />

  <link rel="stylesheet" href="/css/app.min.css">
  <link href="https://fonts.googleapis.com/css?family=Prompt" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  <script src="/dist/app.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.1/dist/js/foundation.min.js" integrity="sha256-WUKHnLrIrx8dew//IpSEmPN/NT3DGAEmIePQYIEJLLs= sha384-53StQWuVbn6figscdDC3xV00aYCPEz3srBdV/QGSXw3f19og3Tq2wTRe0vJqRTEO sha512-X9O+2f1ty1rzBJOC8AXBnuNUdyJg0m8xMKmbt9I3Vu/UOWmSg5zG+dtnje4wAZrKtkopz/PEDClHZ1LXx5IeOw==" crossorigin="anonymous"></script>
</head>
<body>
  <div id="app">
    <nav>
  <div class="nav-wrapper">
    <div class="left">
      <a href="/" class="logo">
        <img src="/img/logo-large.png" alt="">
      </a>
      <ul>
        <li><a href="/">หน้าแรก</a></li>
        <li class="dropdown" v-on-clickaway="closeDropdown">
          <a @click.prevent="dropdown = !dropdown">ค่าบริการ</a>
          <transition name="fade">
            <ul class="dropdown-content" v-show="dropdown">
              <li v-for="(service, index) in services" v-show="index !== 4">
                <a :href="'/pricing/' + service.link">
                  {{ service.title }}
                  <font v-show="index == 3">{{ services[4].title }}</font>
                </a>
              </li>
            </ul>
          </transition>
        </li>
        <li><a href="/dentists">ทีมทันตแพทย์</a></li>
        <li><a href="/contact">ติดต่อเรา</a></li>
      </ul>
    </div>
    <div class="right">
      <button class="menu fas fa-bars" :class="{'active' : menuToggle}" @click.prevent="menuToggle = !menuToggle"></button>
    </div>
  </div>
</nav>
<transition name="menu">
  <div class="mobile-menu" v-show="menuToggle">
    <ul>
      <li><a href="/">หน้าแรก</a></li>
      <li class="dropdown">
        <a :class="{'active' : dropdownMobile}" @click.prevent="dropdownMobile = !dropdownMobile">ค่าบริการ</a>
      </li>
      <transition>
        <div class="mobile-dropdown" v-show="dropdownMobile">
          <li v-for="(service, index) in services" v-show="index !== 4">
            <a :href="'/pricing/' + service.link">
              {{ service.title }}
              <font v-show="index == 3">{{ services[4].title }}</font>
            </a>
          </li>
        </div>
      </transition>
      <li><a href="/dentists">ทีมทันตแพทย์</a></li>
      <li><a href="/contact">ติดต่อเรา</a></li>
    </ul>
  </div>
</transition>

    <div class="container">
      <div class="grid-container">
  <h1>ค่าบริการ</h1>
  <h2 class="header">รากฟันเทียม</h2>
  <table class="unstriped stack striped">
    <tr class="hide-for-small-only">
      <th class="text-left">บริการ</th>
      <th class="text-left">ราคา</th>
    </tr>
    <tr>
      <td>รากฟันเทียม Dentium</td>
      <td>39,000</td>
    </tr>
    <tr>
      <td>รากฟันเทียม Conelog</td>
      <td>49,000</td>
    </tr>
    <tr>
      <td>รากฟันเทียม Astra</td>
      <td>59,000</td>
    </tr>
    <tr>
      <td>Stent สำหรับรากฟันเทียม	</td>
      <td>2,000</td>
    </tr>
  </table>
</div>
    </div>
    <footer>
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-4">
      <div class="cell">
        <img src="/img/logo-large.png" alt="">

      </div>
      <div class="cell text-center">
        <i class="fas fa-map-marker-alt"></i>
        <p>
          ชั้น 1 เอสพลานาด<br class="show-for-small-only"> งามวงศ์วาน-แคราย<br>
          เปิดทำการทุกวัน<br class="show-for-small-only"> เวลา 10.30 - 20.30น.<br>
        </p>

      </div>
      <div class="cell text-center">
        <i class="fas fa-phone"></i>
        <p>
          02-591-5565<br>
          094-965-2642
        </p>
      </div>
      <div class="cell text-center">
        <a href="https://www.facebook.com/smiledelight.dc"><i class="fab fa-facebook"></i><font class="show-for-medium">Facebook</font></a>
        <a href="#"><i class="fab fa-instagram"></i><font class="show-for-medium">Instagram</font></a>
        <a href="#"><i class="fab fa-line"></i><font class="show-for-medium">Line</font></a>
      </div>
    </div>
    <div class="text-center legal">
      <p>Copyright (c) 2018 Copyright Holder All Rights Reserved.</p>
    </div>
  </div>
</footer>

  </div>
</body>

</html>
