<div class="grid-container">
  <h1>ค่าบริการ</h1>
  <h2 class="header">ทันตกรรมทั่วไป</h2>
  <table class="unstriped stack striped">
    <tr class="hide-for-small-only">
      <th class="text-left">บริการ</th>
      <th class="text-left">ราคา</th>
    </tr>
    <tr>
      <td>อุดฟันด้วยวัสดุสีเหมือนฟัน</td>
      <td>ด้านแรก 700<br class="show-for-small-only"> ด้านต่อไปคิดเพิ่ม 500</td>
    </tr>
    <tr>
      <td>อุดฟันด้วยวัสดุอะมัลกัม</td>
      <td>ด้านแรก 700<br class="show-for-small-only"> ด้านต่อไปคิดเพิ่ม 400</td>
    </tr>
    <tr>
      <td>ขูดหินปูน</td>
      <td>700 - 1,500
</td>
    </tr>
    <tr>
      <td>ขัดคราบฟันด้วย Air Flow</td>
      <td>800 - 1,000
</td>
    </tr>
    <tr>
      <td>เคลือบฟลูออไรด์</td>
      <td>500</td>
    </tr>
    <tr>
      <td>เคลือบหลุมร่องฟัน</td>
      <td>500</td>
    </tr>
    <tr>
      <td>ถอนฟันน้ำนม</td>
      <td>500 - 700
</td>
    </tr>
    <tr>
      <td>ถอนฟันแท้</td>
      <td>700 - 1000
</td>
    </tr>
    <tr>
      <td>ผ่าฟันคุด</td>
      <td>1,500 - 4,500
</td>
    </tr>
  </table>
  <h2 class="header">รักษารากฟัน</h2>
  <table class="unstriped stack striped">
    <tr class="hide-for-small-only">
      <th class="text-left">บริการ</th>
      <th class="text-left">ราคา</th>
    </tr>
    <tr>
      <td>ฟันหน้า</td>
      <td>4,000 - 5,000</td>
    </tr>
    <tr>
      <td>ฟันกรามน้อย</td>
      <td>6,000 - 8,000</td>
    </tr>
    <tr>
      <td>ฟันกรามใหญ่</td>
      <td>9,000 - 12,000</td>
    </tr>
  </table>
</div>
