<div class="grid-container">
  <h1>ค่าบริการ</h1>
  <h2 class="header">ฟันปลอม และ ครอบฟัน</h2>
  <table class="unstriped stack striped">
    <tr class="hide-for-small-only">
      <th class="text-left">บริการ</th>
      <th class="text-left">ราคา</th>
    </tr>
    <tr>
      <td>ฟันปลอมบางส่วนฐานอะคริลิก (TP)</td>
      <td>3,500 - 4,000</td>
    </tr>
    <tr>
      <td>ฟันปลอมบางส่วนฐานยืดหยุ่นได้ (Valplast)</td>
      <td>6,000 - 7,000</td>
    </tr>
    <tr>
      <td>ฟันปลอมบางส่วนฐานโลหะ (RPD)</td>
      <td>8,000 - 18,000</td>
    </tr>
    <tr>
      <td>ฟันปลอมทั้งปาก (Completed denture)</td>
      <td>25,000 - 30,000</td>
    </tr>
    <tr>
      <td>ครอบฟันโลหะ (Full metal crown)</td>
      <td>9,000 - 24,000</td>
    </tr>
    <tr>
      <td>ครอบฟันโลหะกับเซรามิค (Porcelain fused to metal crown)</td>
      <td>8,000 - 18,000</td>
    </tr>
    <tr>
      <td>ครอบฟันเซรามิคล้วน (All ceramic crown)</td>
      <td>12,000 - 18,000</td>
    </tr>
    <tr>
      <td>วีเนียร์ (Ceramic Veneer)</td>
      <td>9,000 - 12,000</td>
    </tr>
    <tr>
      <td>เดือยและก่อแกนฟัน (Post & Core build up)</td>
      <td>4,000 - 4,500</td>
    </tr>
  </table>
</div>
