<div class="grid-container">
  <h1>ค่าบริการ</h1>
  <h2 class="header">รากฟันเทียม</h2>
  <table class="unstriped stack striped">
    <tr class="hide-for-small-only">
      <th class="text-left">บริการ</th>
      <th class="text-left">ราคา</th>
    </tr>
    <tr>
      <td>รากฟันเทียม Dentium</td>
      <td>39,000</td>
    </tr>
    <tr>
      <td>รากฟันเทียม Conelog</td>
      <td>49,000</td>
    </tr>
    <tr>
      <td>รากฟันเทียม Astra</td>
      <td>59,000</td>
    </tr>
    <tr>
      <td>Stent สำหรับรากฟันเทียม	</td>
      <td>2,000</td>
    </tr>
  </table>
</div>
