<div class="grid-container">
  <h1>ค่าบริการ</h1>
  <h2 class="header">จัดฟัน</h2>
  <table class="unstriped stack striped">
    <tr class="hide-for-small-only">
      <th class="text-left">บริการ</th>
      <th class="text-left">ราคา</th>
    </tr>
    <tr>
      <td>จัดฟันแบบ Metal</td>
      <td>39,000 - 46,000</td>
    </tr>
    <tr>
      <td>จัดฟันแบบ Ceramic</td>
      <td>49,000 - 55,000</td>
    </tr>
    <tr>
      <td>จัดฟันแบบ Damon Q</td>
      <td>69,000. - 75,000</td>
    </tr>
    <tr>
      <td>จัดฟันแบบ Damon Clear</td>
      <td>75,000 - 79,000</td>
    </tr>
    <tr>
      <td>จัดฟันแบบ Invisalign</td>
      <td>60,000 - 160,000</td>
    </tr>
    <tr>
      <td>รีเทนเนอร์</td>
      <td>2,000</td>
    </tr>
  </table>
  <h2 class="header">ขั้นตอนการจัดฟัน</h2>
  <div class="grid-x medium-up-3 small-up-1">
    <div class="cell">
      <h3 class="header">ก่อนจัด</h3>
      <ul>
        <li>ปรึกษาแพทย์</li>
        <li>ถ่ายรูปเก็บประวัติ</li>
        <li>พิมพ์ฟัน</li>
        <li>X-ray จัดฟัน</li>
        <li>เคลียร์ช่องปาก</li>
      </ul>
    </div>
    <div class="cell">
      <h3 class="header">ขณะจัด</h3>
      <ul>
        <li>พบแพทย์ตามเวลานัด</li>
        <li>แบ่งจ่ายรายเดือน</li>
        <li>การแบ่งจ่ายขึ้นอยู่กับชนิดเครื่องมือจัดฟัน</li>
      </ul>
    </div>
    <div class="cell">
      <h3 class="header">หลังจัด</h3>
      <ul>
        <li>ทำรีเทนเนอร์</li>
        <li>กรณีพิเศษคือ ใส่ฟันปลอม อุดช่องว่าง เป็นต้น</li>
      </ul>
    </div>
  </div>
</div>
