<div class="grid-container">
  <h1>ค่าบริการ</h1>
  <h2 class="header">จัดฟัน</h2>
  <table class="unstriped stack striped">
    <tr class="hide-for-small-only">
      <th class="text-left">บริการ</th>
      <th class="text-left">ราคา</th>
    </tr>
    <tr>
      <td>จัดฟันแบบ Metal</td>
      <td>39,000 - 46,000</td>
    </tr>
    <tr>
      <td>จัดฟันแบบ Ceramic</td>
      <td>49,000 - 55,000</td>
    </tr>
    <tr>
      <td>จัดฟันแบบ Damon Q</td>
      <td>69,000. - 75,000</td>
    </tr>
    <tr>
      <td>จัดฟันแบบ Damon Clear</td>
      <td>75,000 - 79,000</td>
    </tr>
    <tr>
      <td>จัดฟันแบบ Invisalign</td>
      <td>60,000 - 160,000</td>
    </tr>
  </table>
  <h2 class="header">ขั้นตอนการจัดฟัน</h2>
</div>
