<div class="grid-container">
  <h1>ค่าบริการ</h1>
  <h2 class="header">ฟอกสีฟัน</h2>
  <table class="unstriped stack striped">
    <tr class="hide-for-small-only">
      <th class="text-left">บริการ</th>
      <th class="text-left">ราคา</th>
    </tr>
    <tr>
      <td>ฟอกสีฟันที่คลินิกระบบ Cool light (Office bleaching)</td>
      <td>3,900</td>
    </tr>
    <tr>
      <td>ฟอกสีฟันที่บ้าน (Home bleaching)</td>
      <td>3,900</td>
    </tr>
    <tr>
      <td>ฟอกสีฟันที่คลินิกร่วมกับที่บ้าน (Office + Home bleaching)</td>
      <td>6,900</td>
    </tr>
    <tr>
      <td>น้ำยาฟอกสีฟันที่บ้าน</td>
      <td>600 / หลอด</td>
    </tr>
    <tr>
      <td>ถาดฟอกสีฟัน</td>
      <td>2,000 / อัน</td>
    </tr>
  </table>
</div>
